{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>{{ activity | title }}</h1>
<div style="display: inline-block; flex-direction: row; flex-wrap: nowrap">
    <ul>
        {% for place in places %}
        <div class="card" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="{{ cards.place.image }}">
            <div class="card-body">
            <h5 class="card-title">{{ place | title }}</h5>
            <p class="card-text">{{ cards.place.description }}</p>
            <a href="{% url 'venue' borough activity place %}" class="btn btn-primary">{{ place | title }}</a>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}