{% extends 'base.html' %}
{% block extrastyle %}
<style>
    .card{
        background-color: transparent !important;
        border: none;
    }
</style>
{% if borough == "brooklyn" and activity == "beaches" %}
<style>
    .card{
        margin: 115px !important;
    }
</style>
{% elif borough == "manhattan" and activity == "food" %}
<style>
    .card{
        margin: 115px !important;
        margin-left: 10px;
        margin-right: 200px;
    }
</style>
{% endif %}
{% comment %} {% if borough == "manhattan" and activity == "food" %}
<style>
    .stack-card{
        flex-direction: column;
    }
    .card{
        margin-left: auto !important;
        margin-right: 50px;
    }
</style>
{% endif %} {% endcomment %}
{% endblock extrastyle %}
{% block content %}
    <div id='bg' style="background-image: url({{ main_activity.bg_image }}); background-repeat: no-repeat; background-size: 100% 100%;">
    <h1 style="font-size: 65px; color: firebrick; font-family: Broadway BT">{{ activity | title }}</h1>
    <div class="container-fluid">
        <div class="row stack-card">
            {% for place in places %}
                <div class="col-md">
                    <div class="card" style="width: 18rem; margin: 10px;">
                        <img class="card-img-top" src="{{ place.image }}">
                        <div class="card-body">
                            {% comment %} <h5 class="card-title" style="font-family: Broadway BT">{{ place.name | title }}</h5> {% endcomment %}
                            <p class="card-text"></p>
                            <a href="{% url 'venue' borough activity place.name %}" class="btn btn-dark" style="font-family: Broadway BT;">{{ place.name | title }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}