<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ place|title }}</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>
        <div><br><br></div>
        <center>
            <div class="container">
                {% block content %}
                    <h1>New York City Guide</h1>
                    <h3>
                        Wondering about fun activities to do in the big city? 
                        <br>Check out this
                        directory of activities in each borough!
                    </h3>
                    {% for borough in boroughs %}
                        <br><a href="{% url 'borough' borough %}">
                        {{ borough|title }}
                        </a>
                    {% endfor %}
                    <br><br><br><a href="{% url 'about' %}">About</a>
                {% endblock %}
            </div>
        </center>        
    </body>
</html>