<!--This is page that renders activities for each borough-->
{% extends 'base.html' %}
{% load static %}
{% block extrastyle %}
<style>
    .card{  /* Removes card border and makes each cards background transparent */
        background-color: transparent !important;
        border: none;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.8);
    }
</style>
{% if borough == "bronx" %}   <!--Checks if Bronx is chosen and positions card accordingly-->
    <style>
        .stack-card{
            flex-direction: column;
        }
        .card{
            margin-left: auto !important;
            margin-right: 130px;
            margin-bottom: 50px;
        }
    </style>
{% elif borough == "staten island" %} <!--Checks if Staten Island is chosen and positions card accordingly-->
    <style>
        .stack-card{
            justify-content: space-between;
        }
    </style>
{% endif %}
{% endblock %}
{% block content %}
    <div id='bg' style="background-image: url({{ main_borough.bg_image }}); background-repeat: no-repeat; background-size: 100% 100%";>
        <h1 style="font-size: 65px; color: firebrick; font-family: Broadway BT">{{ borough | title }}</h1>
    <div class="container-fluid">
        <div class="row stack-card">
            {% for activity in activities %}
                <div class="col-md space-col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ activity.bg_image }}">
                        <div class="card-body">
                            <a href="{% url 'activity' borough activity.name %}" class="btn btn-primary" style="font-family: Broadway BT; color:rgb(251, 255, 0)">{{ activity.name|title }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% for activity in activities %}
        <br><a href="{% url 'activity' borough activity %} ">
            {{ activity|title }}
        </a>
    {% endfor %}