{% extends 'base.html' %}
{% load static %}
<head> 
    {% block extrastyle %}{% endblock %}
</head>
{% block content %}
    <div id='bg' style="background-image: url('{% static "images/homepage.jpeg" %}')";>
        <h1>New York City Guide</h1>
        <h3>
            Wondering about fun activities to do in the big city? 
            <br>Check out this
            directory of activities in each borough!
        </h3>
        {% for borough in boroughs %}
            <br><a href="{% url 'borough' borough %}" style="font-size: xx-large; font-weight: bold; color: black";>
                {{ borough|title }}
                </a>
        {% endfor %}
        
        <div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <br><br><br><a href="{% url 'about' %}" style="font-size: xx-large; font-weight: bold; color: black";>About</a>
    </div>
{% endblock %}