{% extends 'base.html' %}
{% load static %}
    {% block extrastyle %}
            <style>
        @import url('http://fonts.cdnfonts.com/css/broadway-bt');
            .footer-img{
                position: absolute;
                bottom: 0px;
                transform: translateX(-50%);
            }
            .footer-img img{
                position: relative;
                top: -5px;
            }
            #bg{
                min-height: 100vh;
            }
            body{
                max-width: 100vw;
                overflow: hidden;
            }
        </style>
    {% endblock %}
{% block content %}
    <div id='bg' style="background-image: url('{% static "images/homepage.jpeg" %}'); background-repeat: no-repeat; background-size: 100% 100%;">
        <h1 class="txt" style="font-family: Broadway BT; font-size: 75px; color: firebrick;">New York City Guide</h1>
        <h3 class="txt">
            Wondering about fun activities to do in the big city? 
            <br>Check out this
            directory of activities in each borough!
        </h3>
        <br>
        {% comment %} <div>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div> {% endcomment %}
        <div class="row">
            {% for borough in boroughs %}
            <div class="col">
                <a href="{% url 'borough' borough %}" style="font-size: xx-large; font-weight: bold; color: firebrick; font-family: Broadway BT">
                    {{ borough|title }}
                </a>
            </div>
            {% endfor %}
        </div>
        
        <div>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <br><br><br>
        <a class="footer-img" href="{% url 'about' %}" style="font-size: xx-large; font-weight: bold; color: black";>
            <img src="{% static 'images/nyc-apple2.png' %}" width="210px" height="210px">
        </a>
    </div>
{% endblock %}