{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ borough }}</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}/>
</head>
<body>
    {% block content %}
        <h1>{{ borough | title }}</h1>

        <ul>
            {% for activity in activities %}
            <li>
                <a href="{% url 'activity' borough activity %} ">
                    {{ activity|title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>